* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    height: 100vh;
}

#posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Chicle:wght@400;700&family=Poppins:wght@400;700&display=swap');

.tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 0.625rem;
    padding: 1.25rem;
    border: 0.063rem solid #ccc;
    border-radius: 0.625;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: rgb(253, 253, 253);
    border-radius: 3rem;
}

.tarjeta img {
    width: 150px;
    height: 150px;
    border-radius: 30rem;
    margin-bottom: 0.6rem;
}

.tarjeta h3 {
    color: rgb(92,124,195);
    margin-top: 0;
    font-family: 'Chicle', sans-serif;
    font-size: 2rem;
    
}

.tarjeta p {
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 1rem;
}
